/* CSS file screen.css for Disgen07, issuedate=180316 */

body {
/*  margin: 0; */
  font-size: 75%;
  font-variant: normal;
  font-style: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #F1F1F1;
}

#trunk_f {
  margin: 0;
  padding: 1%;
}

#trunk {
  margin: 0;
  padding: 15px 4% 20px 4%;
}

h1 {
  font-size: 220%;
  font-weight: Normal;
  color: #EEEEEE;
  background-color: #990000; 
  text-align: left;
  padding: 10px 0px 10px 4%;
  margin: 0;
  width: 96%;
}

.index {
  font-size: 140%;
}

.index_f {
  font-size: 140%;
  text-align: center;
  color: #000000;
  background-color: #F1F1F1; 
  padding: 10px 2% 10px 2%;
  margin: 0;
  width: 100%;
}

h2 {
  font-size: 140%;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #006666; 
  text-align: left;
  padding: 10px 0px 10px 4%;
  margin: 0;
  width: 96%;
}

h3 {
  font-size: 120%;
  font-weight: normal;
  color: #FFFFFF;
  background-color: #006666; 
  text-align: left;
  padding: 0px 0px 10px 4%;
  margin: 0;
  width: 96%;
}

h4 {
  padding: 0;
  font-size: 130%;
  font-weight: bold;
  color: #000000;
  text-align: left; 
  width: 100%;
}

p {
  padding: 0;
}

p.indexlista {
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
  background-color: #006666; 
  padding: 10px 4% 10px 4%;
  margin: 0;
  max-width: 100%;
}

p.indexlista  A:link,
p.indexlista  A:visited {color: #FFFFFF; text-decoration: none; font-weight: bold;}
p.indexlista  A:hover {color: #E0E0E0; background: #004848; font-weight: bold;}
p.indexlista  A:active {color: #FFFFFF; text-decoration: none; font-weight: bold;}

p.indexlista_f {
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #F1F1F1; 
  padding: 5px 2% 5px 2%;
  margin: 0;
  max-width: 100%;
}

p.indexlista_f A:link,
p.indexlista_f A:visited {color: #000000; text-decoration: none; font-weight: normal;}
p.indexlista_f A:hover {color: #000000; background: #D0D0D0; font-weight: normal;}
p.indexlista_f A:active {color: #000000; text-decoration: none; font-weight: normal;}

p.sidfot {
  text-align: center;
  color: #EEEEEE;
  background-color: #990000; 
  padding: 5px 0px 5px 4%;
  margin: 0;
  width: 96%;
}

p.sidfot A:link,
p.sidfot A:visited {color: #EEEEEE; text-decoration: none; font-weight: bold;}
p.sidfot A:hover {color: #E0E0E0; background: #700000; font-weight: bold;}
p.sidfot A:active {color: #EEEEEE; text-decoration: none; font-weight: bold;}

p.version {
  text-align: center;
  font-style: italic;
  color: #000000;
  background-color: #F1F1F1; 
  padding: 10px 0 10px 0;
  margin: 0;
  width: 100%;
}

p.center {
  text-align: center;
}

p.ortnamn {
  margin: 2ex 0 0 0;
  padding: 0 0 0 2em;
  font-weight: normal;
}

p.ortnamn_f {
  margin: 2ex 0 0 0;
  padding: 0 0 0 1em;
  font-weight: bold;
}

p.ortperson {
  margin: 0;
  padding: 0 0 0 3em;
  font-weight: normal;
}

p.ortperson_f {
  margin: 0;
  padding: 0 0 0 2em;
  font-weight: normal;
}

p.personreg, p.efternamnsreg {
  font-weight: normal;
  padding: 0 2em 0 2em;
}

p.ortperson_f A:link,
p.ortperson_f A:visited {color: #000000; text-decoration: none; font-weight: normal;}
p.ortperson_f A:hover {color: #000000; background: #D0D0D0; font-weight: normal;}
p.ortperson_f A:active {color: #000000; text-decoration: none; font-weight: normal;}

p.personreg_f, p.efternamsreg_f {
	font-weight: normal;
	padding: 0 0 0 1em;
}

p.personreg_f A:link,
p.personreg_f A:visited {color: #000000; text-decoration: none; font-weight: normal;}
p.personreg_f A:hover {color: #000000; background: #D0D0D0; font-weight: normal;}
p.personreg_f A:active {color: #000000; text-decoration: none; font-weight: normal;}

p.efternamsreg_f A:link,
p.efternamsreg_f A:visited {color: #000000; text-decoration: none; font-weight: normal;}
p.efternamsreg_f A:hover {color: #000000; background: #D0D0D0; font-weight: normal;}
p.efternamsreg_f A:active {color: #000000; text-decoration: none; font-weight: normal;}
 
p.partner, p.gifte {
  margin: 0;
  font-weight: normal;
}

p.barn {
  margin: 0;
  padding-left: 2%;
  font-weight: normal;
}

p.multimediarubrik {
  font-size: 100%;
  font-weight: bold;
  color: #000000;
  text-align: left; 
  width: 100%;
  margin: 15px 0 0 0;
  padding-top: 10px;
  border-top: 1px ridge;
}

p.multimedia {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 15px 0 0 0;
  font-weight: normal;
  font-style: normal;
  color: black;
}

p.fotnot, p.kella {
  margin: 15px 0 0 0;
  padding-top: 10px;
  border-top: 1px ridge;
  font-weight: bold;
}

li.fotnot, li.kella {
  margin: 0 0 0 2%;
  font-size: 90%;
  font-weight: normal;
  text-align: left;
	line-height: 1.4;
}

em {}
  
em.tn {
  font-style: normal; 
  text-decoration: underline;
}

em.en {
  font-style: normal;
}

.ffmm {
	text-transform: lowercase;
	font-style: normal;
	font-weight: bold;
}

.fotnot, .kellanr {
	font-size: 0.83em;
  vertical-align: super;
  font-size: 80%;
  font-weight: normal;
  font-style: normal;
  line-height: 0;
}

strong.person {}

strong.gifte, strong.barn {
  font-weight: normal;
  color: #000000;
}

div.ansedel {}

div.person {
  font-size: 120%;
  font-weight: normal;
  padding-bottom: 1.5ex;
}

div.notis, div.giften {
  text-align: justify;
  font-weight: normal;
}

#clearer, #clearer2 {
  clear: both;
  line-height: 0;
  height: 0;
}

table {
  border: 2px ridge;
  background: #F1F1F1;
  font-size: 100%;
  font-variant: normal;
  font-style: normal;
  margin: 15px 0 15px 0;
  border-color: white;
}

table.antavla {
  border: none;
  table-layout: fixed;
  text-align: left;
  vertical-align: middle;
}

table.stamtavla {
  vertical-align: middle;
}

table.portrett {}

table.gifte {
  border: none;
}

table.portrett_sida {
  margin: 15px 0 5px 1em;
  /*float: center;*/
  margin-left: auto;
  margin-right: auto;
}

table A:link, 
table A:visited {color: #000000; text-decoration: none; font-weight: bold;}
table A:hover {color: #000000; background: #E0E0E0; font-weight: bold;}
table A:active {color: #000000; text-decoration: none; font-weight: bold;}

tr, td, th {
  padding: 0.5ex 0.5em 0.5ex 0.5em;
  font-variant: normal;
  font-style: normal;
}

td.proband, td.f, td.m, td.ff, td.fm, td.mf, td.mm {
  border: 2px ridge;
  background: #FFFFFF;
  color: #000000;
}

td.fff, td.ffm, td.fmf, td.fmm, td.mff, td.mfm, td.mmf, td.mmm, td.ffff, td.fffm, td.ffmf, td.ffmm, td.fmff, td.fmfm, td.fmmf, td.fmmm, td.mfff, td.mffm, td.mfmf, td.mfmm, td.mmff, td.mmfm, td.mmmf, td.mmmm {
  color: #000000;
  font-size: 90%;
  border: 2px ridge;
  background: #FFFFFF;
}

td.person_0, td.person_1, td.person_2, td.person_3, td.person_4 {
  color: #000000;
  text-align: left;
  border: 2px ridge;
  background: #FFFFFF;
}

td.portrett{
  padding: 0 0;
}

td.bildtext {
  color: #000000;
  text-align: center;
  font-style: italic;
  width: inherit;
}

td.gen {
  width: 3%;
  text-align: center;
}

td.gen_rub {
  text-align: center;
}

td.arrow {
  width: 30px;
}

#EndOfPage {
  line-height: 0;
  height: 0;
}

img.arrow, img.tavla, img.ansedel {
	border: none;
	float: none;
}

img.stamportrett {
	border: none;
	width: 16%;
	margin-left: 42%;
}


img.antavelportrett {
	border: none;
	display: block;
	width: 80%;
	margin: auto;
}

img.litetportrett_1gen {
	border: none;
	display: block;
	max-width: 50%;
	margin:auto;
	max-height: 300px;
}

img.litetportrett_2gen {
	border: none;
	display: block;
	max-width: 60%;
	margin:auto;
	max-height: 300px;
}

img.litetportrett_3gen {
	border: none;
	display: block;
	max-width: 70%;
	margin:auto;
	max-height: 300px;
}

img.litetportrett_4gen {
	border: none;
	display: block;
	max-width: 80%;
	margin:auto;
	max-height: 300px;
}

img.startbild {
	border: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 90%;
	max-width: 70%;
}

A:link,
A:visited {color: #000000; text-decoration: none; font-weight: bold;}
A:hover {color: #000000; background: #D0D0D0; font-weight: bold;}
A:active {color: #000000; text-decoration: none; font-weight: bold;}

A:link IMG,
A:visited IMG {border-style: none}

A IMG {color: white}

.table4gen {
  width: 20%;
  text-align: left;
  padding: 10px;
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table4sgen {
  width: 20%;
  text-align: left;
  font-size: 90%;
  padding: 10px;
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table3gen {
  text-align: left;
  width: 25%;
  padding: 10px;
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table3sgen {
  text-align: left;
  font-size: 90%;
  width: 25%;
  padding: 10px;
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table2gen {
  width: 33%;
  text-align: left;
  padding: 10px;
    border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table2sgen {
  width: 33%;
  text-align: left;
  font-size: 90%;
  padding: 10px; 
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}

.table1gen {
  width: 50%;
  text-align: left;
  padding: 10px;
  border: 1px ridge;
  background: #FFFFFF;
  color: #000000;
}